---

import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import GithubIcon from '../components/icons/Github.astro';
import Instagram from '../components/icons/Instagram.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Path from '../components/icons/Path.astro';
import Code from '../components/icons/Code.astro';
import Proyects from '../components/Proyects.astro';
import Footer from '../components/Footer.astro';
import AboutMe from '../components/AboutMe.astro';
import Me from '../components/icons/Me.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio de Sebastian - Desarrollador Web" description="Desarrollador Web con experiencia en diversas tecnologías.">
	
	<main class="px-4">
		<div class="fixed inset-0 -z-10 min-h-screen w-full bg-dark [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#a437db_100%)]"></div>

		<SectionContainer class="py-44">
			<img src="https://avatars.githubusercontent.com/u/127867541?s=400&u=51d76968a4bfe18634ff25b023456dc0357ac3fa&v=4" alt="iRenly photo" class="rounded-full w-12 h-12 mb-4" loading="lazy">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, Soy Sebastian! <a href="https://www.linkedin.com/in/imsebg/" target="_blank" rel="noopener" class="flex justify-center items-center ">
					<Badge>Listo para trabajar</Badge> 
				</a>
			</h1>
			<h2 class="text-xl lg:texl-2xl text-wrap max-w-[700px] ">
				Estudiante de <span class="text-green-300/90 font-semibold">Desarrollo de Software</span>, Amante a la informatica🧑‍💻. De Sevilla, Colombia. 
			</h2>
			<ul >
				<nav class="flex gap-4 mt-4 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/imsebg/">
						<LinkedIn class="size-4 md:size-6" /> LinkedIn
					</SocialPill >
					<SocialPill href="https://www.github.com/IRenly">
						<GithubIcon class="size-4 md:size-6"/> Github
					</SocialPill>
					<SocialPill href="https://www.instagram.com/imsebg/?hl=es">
						<Instagram class="size-4 md:size-6"/> Instagram
					</SocialPill>
					<SocialPill href="mailto:sebastian.gply@gmail.com">
						<Mail class="size-4 md:size-6"/> sebastian.gply@gmail.com
					</SocialPill>
				</nav>
			</ul>
		</SectionContainer>
		<SectionContainer id="experiencia" class="py-22">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 item-center">
				<Path class="size-8 "/>
				Trayectoria</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos" class="py-22">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 item-center">
				<Code class="size-10 "/>
				Proyectos</h2>
			<Proyects />
		</SectionContainer>
		<SectionContainer id="sobre-mi" class="py-22">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 item-center">
				<Me class="size-10 "/>
				Acerca de mí</h2>
			<AboutMe />
		</SectionContainer>
		<Footer>
		</Footer>
		
	</main>
</Layout>

