---
const personalImageAlt = "Sebastian Giraldo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="order-2 md:order-1 text-justify leading-relaxed [&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-300 font-medium"
  >
    <p>
      ¡Hola! Soy <strong>Sebastián Giraldo</strong>, un <strong>desarrollador web</strong> apasionado por la tecnología y la programación.  
      Nací en <strong>Colombia</strong> y llevo más de <strong>tres años</strong> explorando el mundo del desarrollo, siempre en busca de nuevos retos y oportunidades para mejorar mis habilidades.
    </p>
    <p>
      Mi interés por la tecnología me llevó a adentrarme en este campo, y desde entonces, cada línea de código es una nueva oportunidad de aprendizaje y crecimiento.  
      Además de programar, disfruto pasar tiempo con mis <strong>mascotas</strong> y los <strong>videojuegos</strong>, que son mi principal pasatiempo.
    </p>
    <p>
      Siempre estoy abierto a nuevos desafíos y oportunidades para seguir creciendo como desarrollador. 🚀  
    </p>
  </div>

  <img
    src="me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover p-1 md:order-2 rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="width: 100%; max-width: 250px; height: auto; object-position: 50% 50%;"
    loading="lazy"
  />

  <style>
    img {
      image-rendering: auto;
    }
  </style>
</article>

